<% provide(:titulo, "Delicias al azar!!!") %>
<div class="center-title">
  <h1>Recetas Aleatorias</h1>
</div>

<div class="recipe-grid">
  <% @recetas_aleatorias.each do |receta| %>
    <div class="recipe-card">
      <%= image_tag(receta['strMealThumb'], alt: receta['strMeal']) %>
      <h2><%= receta['strMeal'] %></h2>
      <%= link_to "Detalles", show_details_path(id: receta["idMeal"]), class: "gray-button" %>
    </div>
  <% end %>
</div>

