<!-- app/views/meals/recipes_by_category.html.erb -->

<h1>Todas las Recetas de <%= @category %></h1>

<ul>
  <% @recipes.each do |recipe| %>
    <li><%= link_to recipe['strMeal'], show_details_path(id: recipe['idMeal']) %></li>
  <% end %>
</ul>

<%= link_to "Volver a las Categorías", categories_meals_path %>
