#recipe-title
  font-size: 24px
  font-weight: bold
  color: #333

.text-center
  text-align: center

.recipe-grid
  display: grid
  grid-template-columns: repeat(3, 1fr)
  gap: 20px

.recipe-card
  border: 1px solid #ccc
  padding: 20px
  text-align: center
  background-color: #f9f9f9

  img
    max-width: 100%
    height: auto

  h2
    margin: 10px 0
    font-weight: bold

  a
    text-decoration: none
    color: white
    display: block

